html{
    background: dimgray;
}
.envalope{
    position: absolute;
    background-color: blue;
    border-radius: 10px;
    margin-top: 30%;
    margin-left: 40%;
    width: 400px; height: 200px;
    transition: all 0.2s;
    z-index: 2;
}
.left{
    position: absolute;
    border-style: solid;
    border-width: 200px 0 0 300px;
    border-color: transparent transparent transparent #2A95FF;
    border-radius: 10px;
    z-index: 2;
}
.right{
    position: absolute;
    margin-left: 100px;
    border-style: solid;
    border-width: 200px 0 0 300px;
    border-color: transparent transparent transparent #2585e6;
    border-radius: 10px;
    transform: rotateY(180deg);
    z-index: 3;
}
.top {
    position: absolute;
    border-style: solid;
    border-width: 135px 200px 0 200px;
    border-color: #419df9 transparent transparent transparent;
    border-radius: 10px;
    transition-delay: 0.7s;
    transition: transform  z-index step-start;
    z-index: 4;
 }
.btn{
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    width: 400px; height: 200px;
    z-index: 4;
}

.form{
    position: absolute;
    left: 10px;
    background-color: white;
    border-radius: 10px;
    width: 380px; height: 180px;
    cursor: pointer;
    transition: 0.8s;
    overflow: hidden;
}
/* Form Content */

.form div{
    position: absolute;
}

.form .InnerLines{
    background-color: rgba(0, 0, 0, 0.697);
    width: 130px; height: 5px;
    top: 7px;
}

.form .Fheader{
    background-color: rgba(0, 0, 0, 0.783);
    width: 150px; height: 35px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
}

.form .Fpara{
    background-color: rgba(254, 99, 99, 0.593);
    width: 100px; height: 20px;
}

.form .Fpara:nth-child(5){
    top:260px;
    left: 10px;
}.form .Fpara:nth-child(5) .Flines{
    background-color: rgba(177, 177, 177, 0.593);;
    width: 360px; height: 60px;
}.form .Fpara:nth-child(5) .InnerLines:nth-child(2){
    top: 25px;
    width: 340px;
}.form .Fpara:nth-child(5) .InnerLines:nth-child(3){
    top: 45px;
    width: 200px;
}.form .Fpara:nth-child(5) .InnerLines:nth-child(1){
    width: 340px;
}

.form .Fpara:nth-child(4){
    top: 180px;
    left: 10px;
}.form .Fpara:nth-child(4) .Flines{
    width: 360px; height: 40px;
}.form .Fpara:nth-child(4) .InnerLines{
    width: 340px;
}.form .Fpara:nth-child(4) .InnerLines:nth-child(2){
    top: 25px;
}

.form .Fpara:nth-child(3){
    top: 80px;
    left: calc(50% + 10px);
}

.form .Fpara:nth-child(2){
    top: 80px;
    left: 10px;
}

.form .Flines{
    background-color: rgba(99, 166, 254, 0.593);
    width: 150px; height: 20px;
    top: 30px
}

.form .Circle{
    background-color: rgba(99, 166, 254, 0.856);
    width: 80px; height: 40px;
    border-radius: 100px;
    top: 360px;
    right: 50px;
}

.form .Checkbox{
    border: 3px solid rgba(0, 0, 0, 0.783);
    width: 10px; height: 10px;
    top: 380px;
    left: 60px;
}
.form .Checkbox .Flines{
    background-color: rgba(0, 0, 0, 0.783);;
    height: 5px;
    top: 3px;
    left: 15px
}

/* Hover Controls */

body:has(.btn:hover).top{
    transition-delay: 0s;
    transform: rotateX(180deg) translateY(130px);
    z-index: 0;
}

body:has(.btn:not(:hover)) .top{
    transform: rotateX(0deg) translateY();
}

body:has(.btn:hover) .envalope{
    box-shadow: 10px 10px 40px;
    transform: translateY(50px);
}

body:has(.btn:hover).form{
    transition-delay: 0.5s;
    height: 500px;
    transform: translateY(-350px);
}
