html{
    background: dimgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.envalope{
    position: absolute;
    background-color: blue;
    border-radius: 10px;
    margin-top: 30%;
    margin-left: 40%;
    width: 400px; height: 200px;
    transition: all 0.2s;
    animation: RockyBoat 0.3s infinite alternate ease-in-out;
    z-index: 2;
}
.left{
    position: absolute;
    border-style: solid;
    border-width: 200px 0 0 300px;
    border-color: transparent transparent transparent #2A95FF;
    border-radius: 10px;
    z-index: 2;
}
.right{
    position: absolute;
    margin-left: 100px;
    border-style: solid;
    border-width: 200px 0 0 300px;
    border-color: transparent transparent transparent #2585e6;
    border-radius: 10px;
    transform: rotateY(180deg);
    z-index: 3;
}
.top {
    position: absolute;
    border-style: solid;
    border-width: 135px 200px 0 200px;
    border-color: #419df9 transparent transparent transparent;
    border-radius: 10px;
    top: 0;
    transition-delay: 0.7s;
    transition: transform  z-index step-start;
    z-index: 4;
}
.btn{
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    width: 400px; height: 200px;
    z-index: 5;
}

/* ----------------Form Content--------------- */
.form{
    position: absolute;
    left: 10px;
    background-color: white;
    border-radius: 10px;
    width: 380px; height: 200px;
    bottom: 0;
    cursor: pointer;
    transition: 0.8s;
    overflow: hidden;
}

.form div{
    position: absolute;
}

.form .InnerLines{
    background-color: rgba(0, 0, 0, 0.697);
    width: 130px; height: 5px;
    top: 7px;
    transition: 0.5s 0.5s;
}

.form .Fheader{
    background-color: rgba(0, 0, 0, 0.783);
    width: 150px; height: 35px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
}

.form .Fpara{
    background-color: rgba(254, 99, 99, 0.593);
    width: 100px; height: 20px;
}

.form .Fpara:nth-child(5){
    top:260px;
    left: 10px;
}.form .Fpara:nth-child(5) .Flines{
    background-color: rgba(177, 177, 177, 0.593);;
    width: 360px; height: 60px;
}.form .Fpara:nth-child(5) .InnerLines{
    transition-delay: 1.5s;
}.form .Fpara:nth-child(5) .InnerLines:nth-child(2){
    top: 25px;
    width: 340px;
}.form .Fpara:nth-child(5) .InnerLines:nth-child(3){
    top: 45px;
    width: 200px;
}.form .Fpara:nth-child(5) .InnerLines:nth-child(1){
    width: 340px;
}

.form .Fpara:nth-child(4){
    top: 180px;
    left: 10px;
}.form .Fpara:nth-child(4) .Flines{
    width: 360px; height: 40px;
}.form .Fpara:nth-child(4) .InnerLines{
    width: 340px;
    transition-delay: 1s;
}.form .Fpara:nth-child(4) .InnerLines:nth-child(2){
    top: 25px;
}

.form .Fpara:nth-child(3){
    top: 80px;
    left: calc(50% + 10px);
}

.form .Fpara:nth-child(2){
    top: 80px;
    left: 10px;
}

.form .Flines{
    background-color: rgba(99, 166, 254, 0.593);
    width: 150px; height: 20px;
    top: 30px
}

.form .Circle{
    background-color: rgba(99, 166, 254, 0.856);
    width: 80px; height: 40px;
    border-radius: 100px;
    top: 360px;
    right: 50px;
}

.form .Checkbox{
    border: 3px solid rgba(0, 0, 0, 0.783);
    background-color: rgb(254, 99, 99);
    width: 10px; height: 10px;
    top: 380px;
    left: 60px;
    transition: 0.5s 2s;
}
.form .Checkbox .Flines{
    background-color: rgba(0, 0, 0, 0.783);;
    height: 5px;
    top: 3px;
    left: 15px
}

.FakeCursor{
    border-style: solid;
    border-width: 0 10px 30px 10px;
    border-color: transparent transparent #000000 transparent;
    transform: rotate(90deg);
    top: 380px;
    left: 10px;
}
/* ------------------------------------------------------------ */

/* -----------------------Popup API Form----------------------- */
    #Fpopover{
        position: absolute;
        border: none;
        transform: translateX(30px);
        border-radius: 20px;
        width: 1100px; height: 700px;
    }

    #Fpopover .CloseBtn{
        position: absolute;
        border: none;
        cursor: pointer;
        right: 20px;
        border-radius: 10px;
        background-color: rgb(234, 234, 234);
    }

    .Info{
        margin-left: 40px;
        left: 50px;
        width: 43%;
    }
    .Info h1{
        font-size: 280%;
        color: rgb(254, 99, 99);
    }
    .Info p, b{
        font-size: larger;
        margin-top: 50px;
    }

    .ContactDetails{
        margin-left: 40px;
        margin-top: 100px;
    }
    .ContactDetails table{
        scale: 80%;
        margin-left: -60px;
        border-collapse: collapse;
    }
    .ContactDetails th,td{
        text-align: left;
        padding-right: 80px;
    }
    .ContactDetails tr p{
        font-size: large;
    }
    .ContactDetails tr:nth-child(odd){
        background-color: rgb(234, 234, 234);
    }
    .ContactDetails tr:nth-child(3) p, .ContactDetails tr:nth-child(4) p{
        color: #2A95FF;
    }

    .PopForm{
        position: absolute;
        top: 90px;
        right: 40px;
    }
    .PopForm *{
        display: block;
    }
    .PopForm label{
        margin-top: 25px;
    }
    .PopForm input:not(:nth-last-child(2)){
        border: 1px solid rgb(205, 204, 204);
        background-color: rgb(234, 234, 234);
        width: 450px; height: 30px;
        margin-top: 10px;
    }
    .PopForm input:nth-child(7){
        height: 100px;
    }
    .PopForm .Acceptance{
        display: inline-block;
        position: absolute;
        bottom: -130px;
        left: 30px;
    }
    .PopForm .Acceptance:is(input){
        accent-color: gray;
        cursor: pointer;
        width: 20px; height: 20px;
        bottom: -133px;
        left: 0px;
    }
    .PopForm .Submit{
        position: absolute;
        background-color: gray;
        color: whitesmoke;
        border: none;
        cursor: pointer;
        right: 0; bottom: -150px;
        width: 100px; height: 30px;
    }

    .PopForm .notice{
        position: absolute;
        display: inline;
        color: gray;
        width: 500px;
        scale: 80%;
        bottom: -100px; left: -50px;
    }
    .PopForm .notice a{
        text-decoration: none;
        color:#419df9;
        display: inline;
    }

/* ------------------------------------------------------------------- */


/* ------------------SideNav------------------ */
    
    .sideNavBtn{
        position: absolute;
        border: none;
        border-radius: 3px;
        background-color: black;
        color: whitesmoke;
        right: 20px;
        scale: 150%;
    }

    .sideNav::backdrop{
        backdrop-filter: blur(3px);
    }
    .sideNav{
        position: absolute;
        inset: unset;
        border: none;
        border-left: 5px solid grey;
        background-color: black;
        height: 100%;
        width: 250px;
        right: -100%;
        transition: all 0.7s allow-discrete;
    }
    .sideNav:popover-open{
        right: 0;
    }
    @starting-style{
        .sideNav:popover-open{
            right:-100%;
        }
    }

    #Main{
        margin-left: 0;
        transition: all 0.7s allow-discrete;
    }
    body:has(.sideNav:popover-open) #Main{
        margin-left: -250px;
    }

    .sideNav a{
        display: block;
        text-decoration: none;
        color: whitesmoke;
        font-size: xx-large;
        text-align: center;
        margin-top: 40px;
    }
/* ------------------Hover Controls------------------ */

    body:has(.btn:hover) .top{
        transition-delay: 0s;
        transform: rotateX(180deg) translateY(130px);
        z-index: 0;
    }
    body:has(.btn:not(:hover) .top){
        transform: rotateX(0deg) translateY(0px);
    }
    body:has(.btn:hover) .envalope{
        box-shadow: 10px 10px 40px;
        transform: translateY(50px);
        animation-play-state: paused;
    }
    body:has(.btn:hover) .form{
        transition: all 0.3s 0.5s;
        height: 250px;
        bottom: 0;
    }

/* ------------------Button Controls------------------ */

    body:has(.btn:not(:active)) .Fpara:nth-child(5) .InnerLines, body:has(.btn:not(:active)) .Fpara .InnerLines{
        transition: 0s;
        transition-delay: 0s;
        width: 0px;
    }
    body:has(.btn:not(:active)) .form .Checkbox{
        transition: 0s;
        transition-delay: 0s;
        background-color: white;
    }

    body:has(.btn:active) .form .FakeCursor{
        animation: Plant-Yourself-On-The-Point 2s both 1s ;
    }

    body:has(.btn:active) .form .Circle{
        transition: 0.5s;
        transition-delay: 2.75s;
        background-color: rgb(254, 99, 99);
    }

    body:has(.btn:active) .form{
        transition-delay: 0s;
        height: 550px;
    }

/* ------------------Animations------------------ */

    /* Fake cursor animation */
    @keyframes Plant-Yourself-On-The-Point {
        0%{
            transform: rotateZ(80deg) translateX(0px) translateY(0px);
        }
        30%{
            transform: rotateZ(90deg) translateX(130px) translateY(-30px);
        }
        50%{
            transform: rotateZ(60deg) translateX(180px) translateY(-80px) ;
        }
        100%{
            transform: rotateZ(30deg) translateX(200px) translateY(-120px);
        }
    }

    /* Envelope animation */
    @keyframes RockyBoat {
        from{
            transform: rotateZ(-5deg);
        }
        to{
            transform: rotateZ(5deg);
        }
        
    }
